<div class="page_heading">
<h1>Listing items&nbsp;<%= link_to 'New Item', new_item_path, :class => "btn btn-primary" %></h1>
</div>
<table class="table table-stripped">
  <tr>
    <th>Item ID</th>
    <th>Name</th>
    <th>Donor</th>
    <th>Minimum bid</th>
    <th>Winning bidder</th>
    <th>Winning bid</th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= Person.find(item.donor_id.to_i).email if item.donor_id %></td>
    <td><%= number_to_currency item.minimum_bid %></td>
    <td><%= Person.find(item.winning_bidder_id.to_i).email if item.winning_bidder_id %></td>
    <td><%= number_to_currency item.winning_bid %></td>
    <td>
      <%= link_to 'Show', item, {:class => "btn btn-mini btn-info"} %>
      <%= link_to 'Edit', edit_item_path(item), {:class => "btn btn-mini btn-success"} %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>
