<div class="pageHeader">
  <h1>Auction Receipts</h1>
</div>
<%- last_winner = nil %>
<%- total = 0 -%>
<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th>Winning Bidder Name</th>
      <th>Auction Name</th>
      <th>Winning Bid</th>
    </tr>
  </thead>
  <%- @items.each do |item| -%>
    <%- current_winner = item.winning_bidder_id -%>
    <%- user = Person.find(current_winner) %>
    
    <%- if last_winner && current_winner != last_winner -%>
    <tr>
      <td></td>
      <td><strong>Total:</strong></td>
      <td><strong><%= number_to_currency total %></strong></td>
    </tr>
    <%- total = item.winning_bid %>
    <%- else -%>
      <%= total += item.winning_bid %>
    <%- end -%>
    <tr>
      <td><%- unless last_winner == current_winner -%><strong><%= link_to "#{user.first_name} #{user.last_name}".titlecase, user %></strong>&nbsp;&mdash;&nbsp;<small><%= user.email %></small><%- end -%></td>
      <td><%= link_to item.name, item %></td>
      <td><%= number_to_currency item.winning_bid %></td>
    </tr>
    <%- last_winner = current_winner -%>
  <%- end -%>
  <tr>
    <td></td>
    <td><strong>Total:</strong></td>
    <td><strong><%= number_to_currency total %></strong></td>
  </tr>
</table>
